<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="msvalidate.01" content="0C3AC1C7A9BAFE83CF65776B047D9EFD" />
        <title>Gold Rate Today India - Live Gold Prices - Gold Today Rate</title>
        <meta name="keywords" content="gold price, gold price today, gold prices today, gold price per gram, gold rate, today gold rate, todays gold rate, gold rate today, today gold price, todays gold price, gold price india, gold price history, gold goldShopsByIndianCity india, gold goldShopsByIndianCity, gold goldShopsByIndianCity hyderabad, gold goldShopsByIndianCity mumbai, gold rate hyderabad, gold jewellery goldShopsByIndianCity, gold jewelry, gold prices india, gold goldRatesByIndianCity india, gold rate india, gold rate, 24 karat gold rate, 22 karat gold rate, rate of gold, mcx gold rate, current gold rate, gold rate now, live gold rate"/>
        <meta name="description" content="Get latest and live gold rate in India today and historical gold prices from major cities across India.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Analytics -->
      	<script>
       		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        		ga('create', 'UA-103514017-1', 'auto');
        		ga('send', 'pageview');

      	</script>
	      <!-- End Google Analytics -->

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="build/styles/normalize.min.css">
        <link rel="stylesheet" href="build/styles/main.css">
        <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="build/styles/dg.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.8/smart-table.min.js"></script>

        <script type="text/javascript" src="js/dgnew.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

        <script>
    (function(d, w, c) {
        w.ChatraID = 'fShprcNusawWzY89r';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
        + '//call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->

    </head>

    <body ng-app="dgApp" ng-controller="dgCtrl"  ng-cloak>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Header -->
        <nav class='header'>
          <a href="#" class="left"><img src="img/logo3.png" alt="Gold Rate Logo" height="100"/></a>
          <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        
        

        <div class="main-container">
            <div class="main wrapper clearfix">

                <div class="search-bar-container row ng-cloak" ng-cloak>
                    <div class="col s12 m12">
                      <div class="flex std-margin-btm">
                        <h5 class='md-display-1 left-txt'>Search for Gold Prices in </h5>
                        <input type="text" ng-model="selectedIndianCity" typeahead-min-length="0" uib-typeahead="x.city for x in goldratesIndianCities | unique:'city' | filter:$viewValue " typeahead-on-select="fetchData(selectedIndianCity)" ng-change="fetchData(selectedIndianCity)" class="form-control flex-1" placeholder='Type city' autofocus />
                      </div>  

                      <div ng-repeat="city in cities" class="std-margin-btm small-tile city">
                        <a class="yellow accent-4 waves-effect waves-light btn black-text" ng-click="fetchData(city)">{{city}}</a>
                      </div>
                    </div>

                    <!-- Today and Yesterday Gold Price -->
                    <div class="row" ng-if="selectedIndianCity && (goldRatesByIndianCity).length != 0" ng-cloak>
                      <div class="col s12 m6">
                        <div class="card-panel teal center-align">
                            <span class="card-title activator white-text text-darken-4 head-title">Today's Gold Price in {{selectedIndianCity}}
                            </span>
                            <p>
                                <h1 class="white-text md-display-4">
                                    {{(goldratesIndianCities | filter:{'city':selectedIndianCity})[0].price24|currency:'&#8377;':0}}
                                </h1>
                            </p>
                        </div>
                      </div>
                      <div class="col s12 m6">
                        <div class="card-panel teal lighten-2 center-align">
                            <span class="card-title activator white-text text-darken-4 head-title">Yesterday's Gold Price in {{selectedIndianCity}}</span>
                            <p>
                                <h1 class="white-text md-display-4">
                                    {{(goldratesIndianCities | filter:{'city':selectedIndianCity})[1].price24|currency:'&#8377;':0}}
                                </h1>
                            </p>
                        </div>
                      </div>
                    </div>

                     <!-- Historical Prices Card -->
                    <div class="card" ng-if="selectedIndianCity && (goldRatesByIndianCity).length != 0" ng-cloak>
                       <div class="col s12 m6">
                          <div class="card-content min-ht-500 center-align z-depth-4">
                              <span class="card-title activator grey-text text-darken-4 center-align">Historical Gold Prices in {{selectedIndianCity}} </span>
                              <p>
                                  <table class='striped' st-table="records" st-safe-src="goldRatesByIndianCity">
                                      <thead>
                                          <tr>
                                              <th> Date </th>
                                              <th> 24 Karat </th>
                                              <th> 22 Karat </th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-show="goldRatesByIndianCity.length != 0" ng-repeat="row in records">
                                               <td> {{  row.date | date:'dd MMM yyyy':'UTC' }} </td>
                                               <td> {{  row.price24|currency:'&#8377;':0 }} </td>
                                               <td> {{  row.price22|currency:'&#8377;':0 }} </td>
                                          </tr>
                                      </tbody>
                                      <tfoot>
                                          <tr>
                                            <td colspan="7" class='center-align'>
                                              <div st-pagination="" st-items-by-page="ratesByPage" st-displayed-pages="20"></div>
                                            </td>
                                          </tr>
                                        </tfoot>
                                  </table>
                              </p>
                          </div> 
                        </div> 

                         <!-- Gold Shops Card -->
                        <div class="col s12 m6" ng-if="selectedIndianCity && (goldShopsByIndianCity).length != 0">
                          <div class="card-content min-ht-500 center-align z-depth-4">
                            <span class="card-title activator grey-text text-darken-4 center-align">Gold Shops in {{selectedIndianCity}} </span>
                            <p>
                                <table class='striped' st-table="records" st-safe-src="goldShopsByIndianCity">
                                    <thead>
                                        <tr>
                                            <th> Name </th>
                                            <th> Address </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="goldShopsByIndianCity.length != 0" ng-repeat="row in records">
                                             <td> <a target="blank" href="https://maps.google.com/?q={{  row.address }}"> {{  row.name }} </a></td>
                                             <td> {{row.address}} </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="flex-end">
                                          <tr>
                                            <td colspan="7" class='center-align'>
                                              <div st-pagination="" st-items-by-page="shopsByPage" st-displayed-pages="7"></div>
                                            </td>
                                          </tr>
                                    </tfoot>
                                </table>
                            </p>
                          </div>    
                        </div>
                    </div>

                     <!-- No Data Card -->
                    <div class="col s12 m12" ng-show=" !(goldRatesByIndianCity).length">
                        <div class="card-panel  red accent-2 center-align">
                                <span class="white-text md-body-1">
                                    Sorry! No data available for {{selectedIndianCity}}. Try other cities.
                                </span>
                        </div>


                        <!-- Default Cards -->

                           <div class="row" ng-cloak>
                            <div class="col s12 m6">
                              <div class="card-panel teal center-align">
                                  <span class="card-title activator white-text text-darken-4 head-title">Today's Gold Price in India
                                  </span>
                                  <p>
                                      <h1 class="white-text md-display-4">
                                          {{(goldratesIndianCities | filter:{'city':'India'})[0].price24|currency:'&#8377;':0}}
                                      </h1>
                                  </p>
                              </div>
                            </div>
                            <div class="col s12 m6">
                              <div class="card-panel teal lighten-2 center-align">
                                  <span class="card-title activator white-text text-darken-4 head-title">Yesterday's Gold Price in India</span>
                                  <p>
                                      <h1 class="white-text md-display-4">
                                          {{(goldratesIndianCities | filter:{'city':'India'})[1].price24|currency:'&#8377;':0}}
                                      </h1>
                                  </p>
                              </div>
                            </div>
                          </div>
                       <!-- End Default Cards -->
                    </div>           
                </div>
            </div> 
        </div> 

        <div class='newsletter center-align'>
          <h3 id='header' class='center-align'> Subscribe to our newsletter for more updates </h3>
          <input type="text" class='center-align' placeholder='Enter your email address'  /> 
        </div>

        <!-- Footer -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col s12 m3">
                <a href="https://twitter.com/goldtodayrates" target='blank'><i class="fa fa-twitter-square fa-2x twitter"></i></a>
                <a href="#"><i class="fa fa-facebook-square fa-2x facebook"></i></a>
              </div>
              <div class="col s12 m3">
                <h5 class="grey-text">Help</h5>
                <ul>
                  <li><a class="grey-text" href="#!">Payments</a></li>
                  <li><a class="grey-text" href="#!">Shipping</a></li>
                  <li><a class="grey-text" href="#!">Cancellation & Returns</a></li>
                  <li><a class="grey-text" href="#!">FAQ</a></li>
                </ul>
              </div>

              <div class="col s12 m3">
                <h5 class="grey-text">Gold Price</h5>
                <ul>
                  <li><a class="grey-text" href="#!">Contact Us</a></li>
                  <li><a class="grey-text" href="#!">About Us</a></li>
                  <li><a class="grey-text" href="#!">Careers</a></li>
                  <li><a class="grey-text" href="#!">Sell on Gold Price</a></li>
                </ul>
              </div>

              <div class="col s12 m3">
                <h5 class="grey-text">Others</h5>
                <ul>
                  <li><a class="grey-text" href="#!">Online Shopping</a></li>
                  <li><a class="grey-text" href="#!">Affliate Program</a></li>
                  <li><a class="grey-text" href="#!">Gift Card</a></li>
                  <li><a class="grey-text" href="#!">GoldPrice Subscription</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--<div class="footer-copyright">
            <div class="container">
            </div>
          </div>-->
        </footer>
       

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    </body>
</html>
