<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Analytics -->
	<script>
 		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-103514017-1', 'auto');
  		ga('send', 'pageview');

	</script>
	<!-- End Google Analytics -->

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
        <script type="text/javascript" src="js/dg.js"></script>
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <link rel="stylesheet" type="text/css" href="css/dg.css">
          
    </head>
    <body ng-app="dgApp" ng-controller="dgCtrl"  ng-cloak>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--
        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Logo</h1>
            </header>
        </div> -->
        <nav>
            <div class="nav-wrapper  blue-grey lighten-2">
              <a href="#" class="brand-logo">Logo</a>
              
            </div>
          </nav>
        

        <div class="main-container">
            <div class="main wrapper clearfix">

                <div class="search-bar-container row ng-cloak" ng-cloak>

                    <h5 class='md-display-1'>Search for Gold Prices in </h5>
                     
                      <input type="text" ng-model="selected" uib-typeahead="x.city for x in results.data | unique:'city' | filter:$viewValue " class="form-control" placeholder='Type city' autofocus />  

                      <a class="waves-effect cyan waves-light btn" ng-click="selected = 'Delhi'">Delhi</a>
                      <a class="waves-effect cyan waves-light btn" ng-click="selected = 'Mumbai'">Mumbai</a>
                      <a class="waves-effect cyan waves-light btn" ng-click="selected = 'Chennai'">Chennai</a>
                      <a class="waves-effect cyan waves-light btn" ng-click="selected = 'Kolkata'">Kolkata</a>
                      <a class="waves-effect cyan waves-light btn" ng-click="selected = 'Hyderabad'">Hyderabad</a>
                      <a class="waves-effect cyan waves-light btn" ng-click="selected = 'Bangalore'">Bangalore</a> 


                     <div class="row" ng-if="selected && (results.data | filter:{'city':selected} ).length != 0" ng-cloak>
                      <div class="col s12 m6">
                        <div class="card-panel teal center-align">
                            <span class="card-title activator white-text text-darken-4 head-title">Today's Gold Price </span>
                            <p>
                                <h1 class="white-text md-display-4">
                                    {{(results.data | filter:{'city':selected} )[0].price24|currency:'&#8377;':0}}
                                </h1>
                            </p>
                        </div>
                      </div>
                      <div class="col s12 m6">
                        <div class="card-panel teal lighten-2 center-align">
                            <span class="card-title activator white-text text-darken-4 head-title">Yesterday's Gold Price </span>
                            <p>
                                <h1 class="white-text md-display-4">
                                    {{(results.data | filter:{'city':selected} )[1].price24|currency:'&#8377;':0}}
                                </h1>
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="card" ng-if="selected && (results.data | filter:{'city':selected} ).length != 0" ng-cloak>
                       
                        <div class="card-content center-align">
                            <span class="card-title activator grey-text text-darken-4 center-align">Historical Prices </span>
                            <p>
                                <table class='striped'>
                                    <thead>
                                        <tr>
                                            <th> Date </th>
                                            <th> 24 Karat </th>
                                            <th> 22 Karat </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="results.data.length != 0" ng-repeat="x in results.data |  filter:{'city':selected} ">
                                             <td> {{  x.date | date:'dd MMM yyyy':'UTC' }} </td>
                                             <td> {{  x.price24|currency:'&#8377;':0 }} </td>
                                             <td> {{  x.price22|currency:'&#8377;':0 }} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </p>
                        </div>    
                    </div>

                    <div class="col s12 m12" ng-show=" !(results.data | filter:{'city':selected} ).length">
                        <div class="card-panel  red accent-2 center-align">
                                <span class="white-text md-body-1">
                                    Sorry! No data available for {{selected}} 
                                </span>
                        </div>
                    </div>
            

                    <!--
                    <input type="text" ng-model="selected" uib-typeahead="x.city for x in results.data | unique:'city' | filter:$viewValue | limitTo:10" class="form-control" placeholder='Type city' autofocus>
                    
                    <div ng-if="selected && (results.data | filter:{'city':selected} ).length != 0" >
                        Today's Gold Price in {{selected}}: <span class="price"> {{(results.data | filter:{'city':selected} )[0].price24}} </span>
                    </div>
                    
                    <div ng-show=" !(results.data | filter:{'city':selected} ).length">
                                    Sorry! No data available for {{selected}} 
                    </div>

                    <div ng-if="selected && (results.data | filter:{'city':selected} ).length != 0" >
                        <p>Last 15 Days Prices </p>
                        <table>
                            <tr ng-show="results.data.length != 0" >
                             <td> Date </td>
                             <td> 24 Karat </td>
                             <td> 22 Karat </td>
                            </tr>
                            <tr ng-show="results.data.length != 0" ng-repeat="x in results.data |  filter:{'city':selected} ">
                             <td> {{  x.date }} </td>
                             <td> {{  x.price24 }} </td>
                             <td> {{  x.price22 }} </td>
                            </tr>
                        </table>
                    </div>-->
                </div>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <footer class="page-footer  blue-grey lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 DG
            </div>
          </div>
        </footer>
        <!--
        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
