
.pagination > li:first-child > a, 
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.pagination li.active {
    background: none;
}

.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    width: auto;
    height: auto;
    font-weight: normal;
    font-size: 14px;
}

nav {
  background: none;
  box-shadow: none;
}


.city{
  color:#ff9317;
}

nav a {
  background: none;
}

.header{
  background: #5b6fc7;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
  min-height: 120px;
} 

footer{
  min-height: 120px;
  padding-top: 50px;
} 

.newsletter{
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  background: #516883;
  background: -webkit-linear-gradient(top, #5b6fc7 0, #6a7fd4 100%);
  margin-top: 30px;
  padding-top: 45px;
  padding-bottom: 70px;
}

.newsletter #header{
  font-size: 36px;
  color: #fff;
  line-height: 25px;
  font-weight: 400;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.fa {
  color: #459CE7;
  padding-top: 20px;
}

nav a.left{
  padding: 10px 60% 10px 10%;
}

nav ul li {
  padding-top: 3%;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-1 {
  flex: 1;
}

.small-tile {
  display: inline-block;
  padding-bottom: 8px;
  padding-right: 8px;
}

.left-txt {
  line-height: 19px;
  padding-right: 16px;
}

.std-margin-btm {
  margin-bottom: 24px;
}

.ng-cloak{
  display: none !important;
}

.price {

  font-family:"Roboto, sans-serif";
  font-size:8em;
  font-weight:100;

}

.message {

  font-family:"Roboto, sans-serif";
  font-size:24px;
  font-weight:300;

}


.typeahead-demo .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.main {
    flex: 1 0 auto;
  }

.search-bar-container{
  min-height: 500px;
}

.head-title{

  font-family:"Roboto, sans-serif";
  font-weight: 400;
  font-size:16px;

}



/*table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}*/

